doctype html
html
  include includes/head.pug
  body
    section#container
      include includes/header.pug
      include includes/sidebar.pug
    section#main-content
      section.wrapper
        .row
          //freerun card begins
          .col-xs-12.col-md-4
            .panel.freerun-card
              .translation-text
                .row
                  h3 Привіт
              .panel-body
                
              
                
            
