
html
  head
    meta(charset="utf-8")
    meta(name="description", content="")
    meta(name="HandheldFriendly", content="True")
    meta(name="MobileOptimized", content="320")
    meta(name="viewport", content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
    title Opineo, Feedback Collection and Polling Widget - Documentation
    link(rel="alternate", type="application/rss+xml", title="egrappler.com", href="feed/index.html")
    link(href="http://fonts.googleapis.com/css?family=Raleway:700,300", rel="stylesheet", type="text/css")
    link(rel="stylesheet", href="/css/glossary.css")
    link(rel="stylesheet", href="/css/prettify.css")
  body
    nav
      .container
        h1 Ukie
        |     
        #menu
          ul.toplinks
            li
              a(href="/profile") Profile | Dashboard
            |         
            li
              a(href="") Some other link
        |     
        a#menu-toggle(href="#") ☰
    //- header
    //-   .container
    //-     h2.docs-header  Opineo - User Documentation
    section
      .container
        ul#menu-right.docs-nav
          li
            strong Getting Started
          |       
          li
            a(href="#welcome") Welcome
          |       
          li
            a(href="#benefits") Benefits
          |       
          li
            a(href="#features") Features
          |       
          li
            a(href="#license") License
          |       
          li.separator
          |       
          li
            strong Customizing Opineo
          |       
          li
            a(href="#view_type") View Type
          |       
          li
            a(href="#animation_style") Animation Styles
          |       
          li
            a(href="#bars_text") Bars Text
          |       
          li
            a(href="#vote_counter") Vote Counter
          |       
          li
            a(href="#rating_icons") Rating Icons
          |       
          li
            a(href="#rating_titles") Rating Titles
          |       
          li
            a(href="#bar_colors") Bar Colors
        |     
        .docs-content
          h2  Getting Started
          |       
          h3#welcome  Welcome
          |       
          p  Are you listening to your customers?
          |       
          p
            | As they say: You cannot improve what you cannot measure; but the paradox is you
            | cannot measure everything – happiness, hatred, anger… but you can measure customer
            | satisfaction. Yes, you can measure customer satisfaction by analyzing likes and
            | dislikes of your customers. You can gauge popularity of your website or products.
            | You can also:
          |       
          ul
            li See how many visitors like the new design of your website or logo
            |         
            li Analyze what your readers want to see on your blog
            |         
            li Understand how helpful the content on your support forum or website is
            |         
            li
              | Know the latest trends and user’s opinion before launching a new product or service
          |       
          p
            | Opineo allows you to do all of this and much more without signing up for an account
            | or hire an expert. This DIY tool enables you to listen to your customers’ voice
            | easily and instantly. All you have to do is go online, design your widget and place
            | it on your website.
          |       
          h3#benefits  Benefits
          |       
          ul
            li
              | Use Opineo to conduct pre-release surveys before launching new products or services
            |         
            li Analyze new trends in the industry
            |         
            li
              | Run crowd-sourced campaigns with Opineo to mature new ideas, website designs or
              | logos
            |         
            li Conduct popularity surveys with free Opineo widget
            |         
            li Create and host polling surveys with Opineo
          |       
          h3#features  Features
          |       
          ul
            li Facility to customize to match your website theme
            |         
            li Detailed and Compact view options
            |         
            li Comprehensive options to customize animation, colors, orientation and style
            |         
            li All the power and flexibility of jQuery
            |         
            li Easy install; 100% integration
            |         
            li Facility to customize rating icons
          |       
          h3#license  License
          |       
          p
            | This Feedback Collection and Polling widget is free for personal and commercial
            | projects as long as you are providing a link back to this page. If you don’t want
            | to provide a link back, simply contribute to the development and improvement of
            | this tool. To contribute to this and many other interesting projects, go to Support
            | Efforts and become a patron.
          |       
          hr
          |       
          h2  Customizing Opineo
          |       
          p
            | Before you make any cusomization or even start using Opineo create a 'div' element
            | and assign it some id. Now add references to necessary Javascrip files e.g.
          |       
          ul
            li A reference to latest jQuery library 
            |         
            li A reference to Opineo script file sudo nano opineo.js
          |       
          p  The following customization options are available in Opineo:
          |       
          h3#view_type  View Type
          |       
          ul
            li Detailed View
          |       
          h3#bar_colors  Bar Colors
          |       
          ul
            li Colors of Red Bar
            |         
            li Colors of Yellow Bar
            |         
            li Colors of Green Bar
    section.vibrant.centered
      .container
        h4
          | This documentation was created thanks to 
          a(href="http://www.greepit.com/Opineo/admin-form.html")  .....
    footer
      .container
        p  ©2017 Ukie. All rights reserved
    script(src="js/jquery.min.js")
    script(type="text/javascript", src="js/prettify/prettify.js")
    script(src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang=css&skin=sunburst")
    script(src="js/layout.js")
    |  
    script(src="js/jquery.localscroll-1.2.7.js", type="text/javascript")
    |  
    script(src="js/jquery.scrollTo-1.4.3.1.js", type="text/javascript")
    |    
    script(type="text/javascript", src="../../wp-content/themes/piha/js/top-bar-l1.js")
    |   
    script(type="text/javascript", src="../../wp-content/themes/piha/js/bsa-ads-l1.js")
    // Dynamically creates analytics markup
