
html(lang="en")
  head
    meta(charset="utf-8")
    |     
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    |     
    meta(name="description", content="")
    |     
    meta(name="author", content="Dashboard")
    |     
    meta(name="keyword", content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina")
    |     
    title Ukie - App for Learning Ukrainian
    // Mobile viewport optimized
    meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0")
    |     
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    // Mobile Internet Explorer allows us to activate ClearType technology for smoothing fonts for easy reading
    meta(http-equiv="cleartype", content="on")
    // Bootstrap core CSS
    link(href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css", rel="stylesheet")
    // external css
    link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet")
    |     
    link(rel="stylesheet", type="text/css", href="/js/gritter/css/jquery.gritter.css")
    |     
    link(rel="stylesheet", type="text/css", href="/lineicons/style.css")
    // Custom styles for this template
    //- link(href="/css/style.css", rel="stylesheet")
    |     
    link(href="/css/glossary.css", rel="stylesheet")
    |     
    link(href="/css/style-responsive.css", rel="stylesheet")
    |     
    link(href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/themes/black-tie/jquery-ui.css", rel="stylesheet")
    |     
    link(href="/css/jquery.tocify.css", rel="stylesheet")
    |     
    link(href="/css/prettify.css", rel="stylesheet", type="text/css")
    |     
    link(href="/css/styles.css", rel="stylesheet", type="text/css")
    // Le HTML5 shim, for IE6-8 support of HTML5 elements
    //if lt IE 9
      script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
  |   
  body
    a#fork-me(href="#", target="_blank")
      img(style="border: 0px currentColor; border-image: none; top: 0px; right: 0px; position: fixed; z-index: 999999;", alt="Fork me on GitHub", src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png")
    |    
    nav.navbar.navbar-default.navbar-fixed-top(role="navigation", style="margin-bottom:120px;")
      // Brand and toggle get grouped for better mobile display
      .navbar-header
        button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
          span.sr-only Toggle navigation
          |       
          span.icon-bar
          |       
          span.icon-bar
          |       
          span.icon-bar
        |     
        a.navbar-brand(href="#") Ukie
      // Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav
          li.active
            a(href="#") Link
          |       
          li
            a(href="#") Link
          |       
          li.dropdown
            a.dropdown-toggle(href="#", data-toggle="dropdown")
              | Dropdown 
              b.caret
            |         
            ul.dropdown-menu
              li
                a(href="#") Action
              |           
              li
                a(href="#") Another action
              |           
              li
                a(href="#") Something else here
              |           
              li.divider
              |           
              li
                a(href="#") Separated link
              |           
              li.divider
              |           
              li
                a(href="#") One more separated link
      // /.navbar-collapse
    |     
    .container-fluid(style="margin-top:50px;")
      .row
        .tocify.col-sm-3.col-md-3
          #toc
          // /.well
        // /span
        .col-sm-9.col-md-9
          .jumbotron
            h1 Enter Project Name Here
            |             
            br
            br
            |             
            h2 Description
            |             
            p Enter Project Repo Description Here
            |             
            br
            |             
            p
              | The project is hosted on 
              a.projectLinks(href="#", target="_blank") Github
              |  and is available for use under the 
              a.projectLinks(href="#", target="_blank") MIT software license
              | .  You can report bugs and discuss features on the 
              a(href="#", target="_blank") GitHub issues page
              | , or send tweets to 
              a(href="#", target="_blank") Enter Project Twitter Page Here
              | .
            |             
            p
              a.btn.btn-primary.btn-lg(href="#", target="_blank") Fork on Github »
          |           
          h2 Requirements
          |           
          br
          |           
          p.well
            | Enter Project Requirements Here
          |           
          br
          |           
          h2 Optional Dependencies
          |           
          br
          |           
          p.well
            | Enter Project Optional Dependencies Here
          |           
          br
          |           
          h2 Notable Features
          |           
          br
          |           
          p.well
            | Enter Notable Features Here
          |           
          br
          |           
          h2 Browser Support
          |           
          br
          |           
          p.well
            | Enter Browser Support Here
          |           
          br
          |           
          h2 Getting Started
          |           
          br
          |           
          p
          h3
            a(href="customDownload.html") Custom Download
          p
          |           
          p.well
            span.note
              strong Note: 
              |  All of the plugin files are in the 
              code src
              |  directory (this includes both the JavaScript and CSS files). If you want to see an example page with all of the files included, look in the 
              code demos
              |  directory.
          |           
          h3 C#
          |           
          p
          |           
          p.well.note
            | C# Code
          |           
          pre.
            \n\t\t\t            
                                  
          |           
          h3 CSS
          |           
          p
          |           
          p.well.note
            | Enter CSS Instructions Here
          |           
          pre.
            \n\t\t              
                                  
          |           
          p
          h3 JavaScript
          |           
          p
          |           
          p.well.note
            | Enter JavaScript Instructions Here
          |           
          pre.
            \n\t\t              
                                  
          |           
          h2 Options
          |           
          p.well.note
            | Enter Options Instructions Here
          |           
          h3 Options
          |           
          table.table.table-striped.table-bordered.table-condensed
            tbody
              tr
                th Name
                |                   
                th Type
                |                   
                th Default
                |                   
                th Parameters
              |               
              tr
                td.optionName(title="Option Name", data-content="Enter Option Description Here")
                  a(href="#") Option Name
                |                   
                td Enter Option Type Here
                |                   
                td Enter Option Default Here
                |                   
                td Enter Option Parameters Here
              |               
              tr
                td.optionName(title="Option Name", data-content="Enter Option Description Here")
                  a(href="#") Option Name
                |                   
                td Enter Option Type Here
                |                   
                td Enter Option Default Here
                |                   
                td Enter Option Parameters Here
              |               
              tr
                td.optionName(title="Option Name", data-content="Enter Option Description Here")
                  a(href="#") Option Name
                |                   
                td Enter Option Type Here
                |                   
                td Enter Option Default Here
                |                   
                td Enter Option Parameters Here
              |               
              tr
                td.optionName(title="Option Name", data-content="Enter Option Description Here")
                  a(href="#") Option Name
                |                   
                td Enter Option Type Here
                |                   
                td Enter Option Default Here
                |                   
                td Enter Option Parameters Here
              |               
              tr
                td.optionName(title="Option Name", data-content="Enter Option Description Here")
                  a(href="#") Option Name
                |                   
                td Enter Option Type Here
                |                   
                td Enter Option Default Here
                |                   
                td Enter Option Parameters Here
              |               
              tr
                td.optionName(title="Option Name", data-content="Enter Option Description Here")
                  a(href="#") Option Name
                |                   
                td Enter Option Type Here
                |                   
                td Enter Option Default Here
                |                   
                td Enter Option Parameters Here
              |               
              tr
                td.optionName(title="Option Name", data-content="Enter Option Description Here")
                  a(href="#") Option Name
                |                   
                td Enter Option Type Here
                |                   
                td Enter Option Default Here
                |                   
                td Enter Option Parameters Here
              |               
              tr
                td.optionName(title="Option Name", data-content="Enter Option Description Here")
                  a(href="#") Option Name
                |                   
                td Enter Option Type Here
                |                   
                td Enter Option Default Here
                |                   
                td Enter Option Parameters Here
          |           
          br
          |           
          h2 Contributing
          |           
          p.well
            | Take care to maintain the existing coding style. Add 
            strong Enter Unit Testing Framework
            |  unit tests for any new or changed functionality. Lint and test your code using 
            strong Enter Build Tool Here
            | .
          |           
          p.well
            span.note
              | After you have verified your code, send a pull request to the 
              em Enter Project Name Here
              |  develop branch.  After you send a pull request, you will hear back from me shortly after I review your code.  You’ll find source code in the 
              code src
              |  subdirectory!
          |           
          br
          |           
          h2 Extending
          |           
          p.well
            | If you find that you need a feature that 
            em Enter Project Name Here
            |  does not currently support, either let me know via the 
            a(href="#", target="_blank") Github issue tracker
            | , or 
            a(href="#", target="_blank") fork the project
            |  and and easily extend 
            em Enter Project Name Here
            | !
          | 		  
          br
          | 		
          h2 Copyright
          |         
          p.well
            | Copyright © 2013 Enter Author Name Here
      // /row
    // /.fluid-container
    //
      Le javascript
      ==================================================
    // Placed at the end of the document so the pages load faster
    |     
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    |     
    script(src="/js/jquery-ui.min.js")
    |     
    script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js")
    |     
    script(src="/js/jquery.tocify.min.js")
    |     
    script(src="/js/prettify.js")
    |     
    script.
      $(function() {
      $("#toc").tocify({ selectors: "h2, h3, h4", scrollTo: 60, highlightOffset: 60, extendPage: true });
      prettyPrint();
      $(".optionName").popover({ trigger: "hover", container: "body" });
      $("a[href='#']").click(function(event) {
      event.preventDefault();
      });
      Rainbow.color();
      });
