doctype html
html
  head
    script(src='https://www.gstatic.com/firebasejs/4.2.0/firebase.js')
    script(src='https://www.gstatic.com/firebasejs/4.2.0/firebase-app.js')
    script(src='https://www.gstatic.com/firebasejs/4.2.0/firebase-auth.js')
    script(src='https://www.gstatic.com/firebasejs/4.2.0/firebase-database.js')
    script(src='https://www.gstatic.com/firebasejs/4.2.0/firebase-messaging.js')
    script(src='https://code.jquery.com/jquery-3.2.1.js')
    script(type='text/javascript', src='/js/client/questionsData.js')
    style.
      .block {display: block;}
    include includes/head.pug
    include includes/footer.pug
  body
    #dataDiv
    script.
      findCorrectType();
